/node_modules
/env
/_tmp
package-lock.json

#IDE config files
.idea
# temp ignore
.gitlab-ci.yml
# Test Report
/.nyc_output
/coverage

# for Mac
.DS_Store

/dist/public
/dist/static/js/modules/data.js
/pre-release
/exercise-image-thumbnails
/exercise-image-thumbnails-resize

# test/batch-task
**/*.xlsx
my_*.json
